<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo de la pagina</title>
    <link rel="stylesheet" href="../static/css/combat.css">
</head>
<body>
	<div class="container">
	  <h1>Titulo centrado</h1>
	  <h3>Siendo desarrollado por: {{nombre_desarrollador}} {{apellido_desarrollador}}</h3>
	  <h3>Son las {{fecha.hour}}:{{fecha.minute}}</h3>
	  <div class="divImages">
		<div class="box">
		  <img src="../static/images/warrior.jpg" alt="Imagen 1">
		  <div class="life-bar"></div>
		</div>
		<div class="box">
		  <img src="../static/images/fireMage.jpg" alt="Imagen 2">
		  <div class="life-bar"></div>
		</div>
	  </div>
	</div>
  </body>
</html>
